* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card{
  box-shadow: .625rem .625rem .625rem rgba(0, 0, 0, 0.3);
}
.card img{
  max-height: 250px;
  object-fit: cover;
  object-position: top ;
}
